// colors
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-deep-blue: rgb(4, 42, 48);
$color-electric-blue: rgb(0, 123, 255);
$color-green: rgb(16, 129, 65);
$color-red: rgb(180, 51, 12);
$color-error-red: rgb(240, 30, 30);
$color-grey: rgb(128, 128, 128);

// breakpoints
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;
$desktop-breakpoint: 1400px;

// border-radius
$border-radius: 8px;

// font-size
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;

// font-family
$font-roboto: 'Roboto, sans-serif';
