@import './variables';

.button {
  display: inline-block;
}

.button-primary {
  padding: 10px 16px;
  background-color: $color-electric-blue;
  border: none;
  border-radius: $border-radius;
  font-size: $font-14;
  line-height: 1.2;
  font-weight: 700;
  color: $color-white;
  transition: opacity 0.3s;
  cursor: pointer;

  &:hover,
  &:active {
    opacity: 0.7;
  }

  &:disabled {
    background-color: $color-grey;
    cursor: not-allowed;
  }
}

.button-red {
  background-color: $color-red;
}

.button-green {
  background-color: $color-green;
}
