@import '../../scss/variables';

.todos {
  padding: 40px 0;
}

.todos-wrap {
  display: grid;
  gap: 30px;
  max-width: 500px;
  margin: 0 auto;

  @media (min-width: $tablet-breakpoint) {
    grid-template-columns: 1fr 1fr;
    max-width: unset;
    gap: 50px;
  }
}

.todos-statistics {
  margin-top: 30px;
}
